{% load static %}<!DOCTYPE html>
<html ng-controller='MainController' ng-app="monstercat">
	<head>
		<script src="{% static 'scripts/jquery-2.0.3.min.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'scripts/angular.min.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'scripts/highcharts-ng.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'scripts/highcharts.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'scripts/app.js' %}" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	</head>
	<body>
		<div>
			<div id="centerWrapper">
				<div id="propOpenWrapper">
					<div class="header">
						<h1>Monstercat</h1>
					</div>

					<highchart id="chart1" config="chartConfig"></highchart>
				</div>
			</div>
		</div>
	</body>
</html>